* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
body {
    background-color: #f7f7f7;
    font-family: consolas;
}
.hide {
    display: none;
}
.err {
    color: red;
}
.ok {
    color: rgb(0, 102, 0);
}
.msg {
    width: 80%;
    margin: auto;
    font-size: 0.6rem;
}

.login-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: gray 0 0 20px;
    max-width: 30rem;
}
.input-group {
    width: 80%;
    margin: auto;
}
.input-group>.input-box {
    display: flex;
    justify-content: space-between;
}
.input-box {
    height: 1.8rem;
}
.input-box:nth-child(n + 1) {
    margin: -1px 0 0 0;
}
.input-box>* {
    flex-grow: 1;
}
.input-text {
    position: relative;
    left: 1px;
    text-align: center;
    border: 1px solid grey;
    height: 100%;
    background-color: #f7f7f7;
    line-height: 1.8rem;
    min-width: 3.5rem;
    max-width: 4rem;
    font-size: 0.8rem;
}
input {
    padding: 0.1rem;
    outline: none;
    border: 1px solid #222;
    border-radius: 0px;
    height: 100%;
    font-size: 1rem;
    min-width: 0;
    transition: box-shadow 0.3s;
}
input:focus {
    position: relative;
    box-shadow: #222 0 0 10px;
}
.box-head-text {
    text-align: center;
    margin: 0.5rem 0;
}
.btn-group>* {
    line-height: 1.5rem;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0.3rem;
    margin: 0.5rem auto;
    width: 80%;
    user-select: none;
    cursor: pointer;
}
.link-group {
    width: 80%;
    margin: auto;
}
.link-group>* {
    color: gray;
    font-size: 0.7rem;
}
.link-group>*>span {
    color: #222;
    font-weight: 900;   
}

@media screen and (max-width: 860px) {
    .login-box {
        width: 80%;
        padding: 0.1rem;
        background-color: #f7f7f7;
        box-shadow: none;
    }
    .input-group {
        width: 100%;
        margin: auto;
    }
    .btn-group>* {
        width: 100%
    }
    .msg {
        width: 100%;
        margin: auto;
    }
    .link-group {
        width: 100%;
    }
}
